<div class="banner_text_iner">
    <h1>Best quality pillow</h1>
    <p>Seamlessly empower fully researched 
        growth strategies and <br> interoperable internal</p><br>
    <a href="product_list.html" class="btn_1">Shop now </a>
</div>

<div class="banner_img">
    <img src="	https://themewagon.github.io/pillowmart/img/banner.png" alt="#" class="img-fluid">
    <img src="	https://themewagon.github.io/pillowmart/img/banner_pattern.png " alt="#" class="pattern_img img-fluid">
</div>
<br>
<br>

<div class="single_product_img">
    <img src="https://themewagon.github.io/pillowmart/img/single_product_1.png" class="img-fluid" alt="#">
    <img src="https://themewagon.github.io/pillowmart/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
</div>

  <div class="single_product_content">
        <h5>Started from $10</h5>
        <h2> Printed memory foam 
            brief modern throw 
            pillow case</h2><br>
        <a href="product_list.html" class="btn_3">Explore Now</a>
    </div>
    <br>
    <br>


    <div class="banner_text_iner1">
        <h1>Started from $10</h1>
        <p> Printed memory foam 
            brief modern throw 
            pillow case</p><br>
        <a href="product_list.html" class="btn_1">Explore Now</a>
    </div>
    
    <div class="single_product_img">
        <img src="https://themewagon.github.io/pillowmart/img/single_product_2.png" class=" bb img-fluid" alt="#">
        <img src="https://themewagon.github.io/pillowmart/img/product_overlay.png" alt="#" class="product_overlay1 img-fluid">
    </div>
    <br>
    <br>

    <div class="end">
        <img src="https://themewagon.github.io/pillowmart/img/logo.png">
      </div>
   